<div id="controls_left">
  <%=link_to t('page.tab.view'), {:controller => 'user_page', :action => 'view', :id => h(@user)}, :class => (action_name=='view'?'active':'inactive') %>
  <% if userpage_exists? @user %>
    <%=link_to t('page.tab.attachments'), {:controller => 'user_page', :action => 'attachments', :id => h(@user)}, :class => (action_name=='attachments'?'active':'inactive') %>
    <%=link_to t('page.tab.info'), {:controller => 'user_page', :action => 'info', :id => h(@user)}, :class => (action_name=='info'?'active':'inactive') %>
  <% end %>
</div>
<div id="controls_right">
  <% if authenticated? %>
    <%=link_to t('page.tab.edit'), {:controller => 'user_page', :action => 'edit', :id => h(@user)}, :class => (action_name=='edit'?'active':'inactive') %>
  <% end %>
</div>