body {
    font: .75em Verdana, Arial, Helvetica, sans-serif;
    margin: 1.5em;
    padding: 0;
}

#container {
}

#left {
    float: left;
    width: 15em;
    word-wrap: break-word;
}

#left #logo {
    text-align: center;
    margin-bottom: 1.5em;
}

#left #logo img {
    width: 13em;
    max-width: 13em;
    border: 0;
}

#main {
    margin-left: 17em;
	margin-top: -.5em;
    margin-right: 1em;
}

#top_right {
	float: right;
	text-align: right;
}

#auth a {
    color: #0000ff;
}

#auth a:visited {
    text-decoration: none;
    color: #0000ff;
}

#auth_username {
    padding-left: 20px;
    padding-right: 1em;
    background: url(../images/user.png) no-repeat;
}

#search {
	margin-top: 2em;
}

#page_title {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 0.75em;
    margin-left: 1em;
    height: 1.8em;
}

#visted_pages {
	margin-left: 1.5em;
	font-size: 0.9em;
}

#global_feed {
	margin-left: -0.75em;
	text-align: center;
	margin-left: 1em;
}

#application_info {
    margin-top: 1.5em;
    text-align: center;
	font-size: 0.8em;
	margin-top: 1.6em;
	margin-left: 1em;
}

.clear {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

#content_container {
    margin-top: 1.5em;
}

#controls_left {
    float: left;
}

#controls_right {
    float: right;
}

#page {
    border: 1px solid #cccccc;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 1.5em 1.2em;
}

#page_footer {
    float: right;
}

#controls {
    height: 0.9em;
}

#controls_left {
    margin-left: 1.5em;
}

#controls a {
    border: 1px solid #cccccc;
    display: block;
    float: left;
    margin-left: -1px;
    padding: 0.3em 0.6em;
    background-color: #f5f5f5;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
}

#controls a.active {
    border-bottom-color: #ffffff;
    background-color: #ffffff;
}

#page textarea {
    width: 100%;
    font: 1.1em/1.5em Monaco, "Courier New", Courier, monospace;
}

#preview {
    border: 1px solid #cccccc;
    margin: 0 0.5em;
    padding: 1em 1em;
}

#revisions {
    table-layout: auto;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#revisions th {
    background-color: #e5e5e5;
    height: 2em;
    padding: 0 1em;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

#revisions td {
    padding: 0 1em;
    height: 1.5em;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

#revisions td.version {
    text-align: center;
}

#revisions td.diff {
	width: 10px;
	padding: 0;
	text-align: center;
}

#revisions tr.odd {

}

#revisions tr.even {
    background-color: #f5f5f5;
}

#login {
    margin: 0 auto;
    width: 25em;
}

#login label {
    width: 12em;
    height: 2.5em;
    display: inline-block;
    font-weight: bold;
}

#login input[type=submit] {
    margin-left: 13.5em;
}

a.feed {
    padding: 0 0.5em;
    text-decoration: none;
}

a.feed img {
    vertical-align: bottom;
    border: 0;
}

#search-form {
	margin-bottom: 2em;
}

#search_results {
	list-style-type: none;
}

#search_results p:first-child {
	font-weight: bold;
	margin-bottom: 2em;
}

#search_results ul {
	padding-left: 2em;
}

#search_results ul li {
	margin-bottom: 0.75em;
}

#search_results ul li a {
	font-weight: bold;
}

#search_results ul li span {
	font-size: 0.75em;
}

a, a:visited {
    color: #0000ff;
}

a.inexistent, a.inexistent:visited {
    color: #ff0000;
}

.information, .warning, .error, .confirmation {
    display: block;
    margin: 1em .5em;
    padding: 1em 1em 1em 3em;
    background-position: .8em .9em;
    background-repeat: no-repeat;
}

.information {
    background-image: url(../images/information.png);
    background-color: #e0e0ff;
    border: 1px solid #b0b0f0;
}

.error {
    background-image: url(../images/error.png);
    background-color: #ffe0e0;
    border: 1px solid #f0b0b0;
}

.warning {
    background-image: url(../images/warning.png);
    background-color: #ffff96;
    border: 1px solid #f0f087;
}

.confirmation {
    background-image: url(../images/confirmation.png);
    background-color: #c8ff96;
    border: 1px solid #b9f087;
}

.underline {
    text-decoration: underline;
}

ul.line {
    list-style-type:square;
}

table.wikitable {
    margin: 0.5em 0.25em;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

table.wikitable th {
    border: 1px solid #dadada;
    background-color: #eaeaea;
    padding: 0.25em 0.5em;
}

table.wikitable td {
    border: 1px solid #dadada;
    padding: 0.25em 0.5em;
}

table.diff {
	width: 100%;
	border-collapse: collapse;
}

table.diff td.linenumber {
	width: 2em;
}

table.diff td.line {
	font-family: monospace;
	font-size: 1.2em;
	padding: 0.2em 0.5em;
	height: 1.4em;
	margin: 10px;
	background-color: #f5f5f5;
}

table.diff td.add {
	background-color: #ccffcc;
}

table.diff td.remove {
	background-color: #ffcccc;
}