<div id="controls_left">
  <%=link_to t('page.tab.view'), {:controller => 'page', :action => 'view', :type => h(@type), :id => h(@page)}, :class => (action_name=='view' ? 'active' : 'inactive') %>
  <% if authorized?(@type, @page, :view) && page_exists?(@type, @page) %>
    <%=link_to t('page.tab.attachments'), {:controller => 'page', :action => 'attachments', :type => h(@type), :id => h(@page)}, :class => (action_name=~/^attachment/ ? 'active' : 'inactive') %>
    <%=link_to t('page.tab.info'), {:controller => 'page', :action => 'info', :type => h(@type), :id => h(@page)}, :class => ((action_name=='info' || action_name=='diff') ? 'active' : 'inactive') %>
  <% end %>
</div>
<div id="controls_right">
  <% if page_exists?(@type, @page) && authorized?(@type, @page, :edit) || !page_exists?(@type, @page) && authorized?(@type, @page, :create) %>
    <%=link_to t('page.tab.edit'), {:controller => 'page', :action => 'edit', :type => h(@type), :id => h(@page)}, :class => (action_name=='edit' ? 'active' : 'inactive') %>
  <% end %>
</div>