<% if parser(@type).respond_to?(:toolbar_items) %>
  <div id="toolbar">
    <div id="toolbar-items">
	  <% parser(@type).toolbar_items.each do |group| %>
	    <div class="toolbar-items-group">
		  <% group.each do |item| %>
	        <%=toolbar_item item %>
	      <% end %>
	    </div>
	  <% end %>
	  <br class="clear" />
    </div>
  </div>
<% end %>