<div id="toolbar">
  <div id="toolbar-items">
	<div class="toolbar-items-group">
	  <%=link_to image_tag('toolbar/bold.png'), '#', :class => 'item', :id => 'toolbar-bold', :title => t(''), :'data-enclosed' => '*' %>
	  <%=link_to image_tag('toolbar/italic.png'), '#', :class => 'item', :id => 'toolbar-italic', :title => t(''), :'data-enclosed' => '~' %>
	</div>
	<br class="clear" />
  </div>
</div>