<% if page_exists? @page %>
  <%=insert_page @page, @revision %>
<% else %>
  <div class="information">
    Page does not exist.
    <% unless User.current.nil? %>
      You can <%=link_to 'create', {:controller => 'page', :action => 'edit', :page => @page} %> it!
    <% end %>
  </div>
<% end %>