<% if page_exists? @namespace, @page %>
  <%=insert_page @namespace, @page, @revision %>
<% else %>
  <div class="information">
    <%=t 'page.not_exists.msg' %>
    <% if authorized?(@namespace, @page, :create) %>
      <%=t 'page.not_exists.edit_msg', :edit_link => link_to(t('page.not_exists.edit_link'), {:controller => 'page', :action => 'edit', :namespace => h(@namespace), :id => h(@page)}) %>
    <% end %>
  </div>
<% end %>